<form #myForm (submit)="login(myForm)">
  <label> Email : {{ email }}
    <input #mail
           [(ngModel)]="email" [class.invalid]="!mail.checkValidity()"
           name="mail"
           required type="email">
  </label>
  <label> Password : {{ password }}
    <input #pass
           [(ngModel)]="password" [class.invalid]="!pass.checkValidity()"
           minlength="6"
           name="password"
           required type="password">
  </label>
  <input [(ngModel)]="service.useLocal" id="remember" name="useLocal" type="checkbox"><label for="remember">Remember
  Me</label>
  <input [disabled]="!myForm.checkValidity()" type="submit" value="Enregistrer">
</form>
{{ jsonValue }}
