<div class="h-full flex items-center justify-center">
  <form #form
        (submit)="login(form)" class="w-1/3 border p-5 rounded-2xl shadow-2xl dark:shadow-gray-600 bg-white dark:bg-gray-900">
    <div class="mb-5 pb-5 border-b">
      <h1 class="text-5xl text-center text-gray-900 dark:text-gray-300">Connexion</h1>
    </div>
    <div class="mb-5">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Email :
        <input
          #emailInput
          [(ngModel)]="email" [class.invalid]="!emailInput.checkValidity()" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="mail"
          required type="email">
        @if (!emailInput.checkValidity()) {
          <p>Email requis</p>
        }
      </label>
    </div>
    <div class="mb-5">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Password :
        <input
          #pass
          [(ngModel)]="password" [class.invalid]="!pass.checkValidity()" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="href"
          required type="password">
        @if (!pass.checkValidity()) {
          <p>Le mot de passe est requis</p>
        }
      </label>
    </div>
    <div class="flex items-start mb-5">
      <div class="flex items-center h-5">
        <input [(ngModel)]="service.useLocal" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" id="remember" name="remember" required
               type="checkbox"
               value=""/>
      </div>
      <label class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="remember">Remember me</label>
    </div>
    <div class="border-t mt-5 pt-5 flex justify-center">
      <input
        [disabled]="!form.checkValidity()"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit" value="Enregistrer">
    </div>
  </form>
</div>

