<div class="h-full w-full p-10 flex justify-evenly">
  <app-card text="" titre="Nouvelle Entrée">
    <a
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      routerLink="/entrees/editor/0">
      Accéder
      <svg aria-hidden="true" class="rtl:rotate-180 w-3.5 h-3.5 ms-2" fill="none" viewBox="0 0 14 10"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M1 5h12m0 0L9 1m4 4L9 9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="2"/>
      </svg>
    </a>
  </app-card>
  <app-card text="Verifiez le numero de badge" titre="Remise de badge">
    <a [queryParams]="{sortie: false}"
       class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
       routerLink="/entrees">
      Accéder
    </a>
  </app-card>
</div>
